html, body {
    background-image: url(../Upload/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    height: 100%;
    align-content: center;
}
.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-header {
    color: white;
    align-content: center
}
.input-group-prepend span {
    width: 50px;
    color: black;
    border: 0 !important;
}
.login_btn {
    color: white;
    background-color: #005A5F;
    width: 100px;
}
.login_btn:hover {
    color: white;
    background-color: #005A5F;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #005A5F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #005A5F;
    color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #005A5F;
    color: white;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #005A5F;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #005A5F;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #005A5F;
}
.show {
    display: block;
}
.box{
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 350px;
    padding: 50px;
    color: grey;
}
.changePassword {
    position: fixed;
    left: 20px;
    top: 130px;
    width: 300px;
}
.changeButton {
    color: white;
    background-color: #005A5F;
    width: 150px;
    float: right;
}
.changeButton:hover {
    color: white;
    background-color:#005A5F ;
}
/*
Students Table Style
 */
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}
.table-title {
    padding-bottom: 15px;
    background: linear-gradient(40deg, #000000, #2c926c) !important;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 1px;
    border: none;
    outline: none !important;
    margin-left: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 1px;
    vertical-align: middle;
    margin-right: 10px;
}
/*.pagination {*/
/*    float: right;*/
/*    margin: 0 0 5px;*/
/*}*/
/*.pagination li a {*/
/*    border: none;*/
/*    font-size: 13px;*/
/*    min-width: 30px;*/
/*    min-height: 30px;*/
/*    color: #999;*/
/*    margin: 0 2px;*/
/*    line-height: 30px;*/
/*    border-radius: 1px !important;*/
/*    text-align: center;*/
/*    padding: 0 6px;*/
/*}*/
/*.pagination li a:hover {*/
/*    color: #666;*/
/*}*/
/*.pagination li.active a, .pagination li.active a.page-link {*/
/*    background: #03A9F4;*/
/*}*/
/*.pagination li.active a:hover {*/
/*    background: #0397d6;*/
/*}*/
/*.pagination li.disabled i {*/
/*    color: #ccc;*/
/*}*/
/*.pagination li i {*/
/*    font-size: 16px;*/
/*    padding-top: 6px*/
/*}*/
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 1px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 1px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 1px 1px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 1px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 1px;
    min-width: 100px;
}
.modal form label {
    font-weight: normal;
}
.changePasswordButton {
    background-color: #005A5F;
    color: white;
    position: relative;
    left: 35%;
}
h1 {
    color: #005A5F;
}
.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
table {
    width:76%;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}
.show {
    display: block;
}
.title {
    color: grey;
    font-size: 18px;
}
.profile-pic-div{
    height: 100px;
    width: 100px;
    position: relative;
    top: 55px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}
#photo{
    height: 100%;
    width: 100%;
}
#file{
    display: none;
}
#uploadBtn{
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 13px;
    font-family: sans-serif;
    font-size: 10px;
    cursor: pointer;
    display: none;
}
.container .card {
    border-radius: 10px;
    border: 2px solid #005A5F;
    float: left;
    right: 2%;
}
.tableProfile {
    font-size: 14px;
    color: white;
}
.selectRole {
    color: white;
    background-color: #005A5F;
    width: 100px;
}