<!DOCTYPE html>
<html>
    <head>
        <title>Change password</title>

        <!--Bootsrap 4 CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!--Fontawesome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <!--Custom styles-->
        <link rel="stylesheet" type="text/css" href="../Style/styles.css">
    </head>
    <body>
    <?php
    use Controllers\ChangePasswordController;
    require_once('../Controller/ChangePasswordController.php');
    if(isset($_POST['change'])) {
        $changePassword = new ChangePasswordController();
        $changePassword->invoke();
    }
    ?>
        <header>
            <div class="topnav">
                <a class="active" href="Home.phtml">Home</a>
                <a style="float:right" href="../Resources/logout.php">Logout</a>
            </div>
        </header>
        <br>
        <h1>Change your password !</h1>
        <br>
        <div class="changePassword">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="changePasswordImage">
                        <img src="../Upload/changePassword.png" >
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Current Password" name="currentPassword" required>
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="New Password" name="newPassword" required>
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Change" name="change" class="btn btn-primary btn-sm changeButton">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>