<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="../Style/styles.css">
</head>
<body>
    <header>
        <div class="topnav">
            <a class="active" href="Home.phtml">Home</a>
            <a style="float:right" href="../Resources/logout.php">Logout</a>
        </div>
    </header>
    <?php
    session_start();
    use Controllers\CoursesController;
    use Models\TeacherModel;

    require_once('../Controller/CoursesController.php');
    require_once('../Model/TeacherModel.php');
    $coursesController = new CoursesController();
    $courses = $coursesController->invoke();
    $teacherModel = new TeacherModel();
    ?>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <?php
                        if (($_SESSION['user_role'] == "Student")) {
                        ?>
                            <h2><b>Courses</b></h2>
                        <?php
                        } else {
                        ?>
                            <h2>Manage <b>Courses</b></h2>
                            <?php
                             }
                             ?>
                    </div>
                        <?php
                        if (($_SESSION['user_role'] != "Student")) {
                        ?>
                            <div class="col-sm-6">
                                <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Course</span></a>
                            </div>
                        <?php
                        }
                        ?>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Teacher</th>
                    <th>Laboratory</th>
                    <th>Seminar</th>
                    <th>Credits</th>
                    <th>Material</th>
                    <?php
                    if (($_SESSION['user_role'] != "Student")) {
                    ?>
                    <th>Actions</th>
                    <?php
                    }
                    ?>
                </tr>
                </thead>
                <tbody>
                <?php
                foreach ($courses as $course) {
                    ?>
                    <tr id="<?php echo $course->getId()?>">
                        <td><?php echo $course->getName()?></td>
                        <td><?php
                                $teacher = $teacherModel->createTeacherById($course->getTeacherId());
                                echo $teacher->getFirstname()." ".$teacher->getLastname();
                            ?>
                        </td>
                        <td><?php
                                if ($course->hasLaboratory()) {
                                    echo '<i class="fas fa-check"></i>';
                                } else {
                                    echo '<i class="fas fa-times"></i>';
                                }
                                ?></td>
                        <td><?php
                            if ($course->hasSeminar()) {
                                echo '<i class="fas fa-check"></i>';
                            } else {
                                echo '<i class="fas fa-times"></i>';
                            }
                            ?></td>
                        <td><?php echo $course->getCredits()?></td>
                        <td><a href="<?php echo $course->getMaterial()?>"><?php echo $course->getMaterial()?></a></td>
                        <?php
                        if (($_SESSION['user_role'] != "Student")) {
                        ?>
                        <td>
                            <a class="edit editbtn" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a class="delete deletebtn" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                        <?php
                        }
                        ?>
                    </tr>
                    <?php
                }
                ?>
                </tbody>
            </table>
            <!--               <div class="clearfix">-->
            <!--                    <ul class="pagination">-->
            <!--                        <li class="page-item disabled"><a href="#">Previous</a></li>-->
            <!--                        <li class="page-item"><a href="#" class="page-link">1</a></li>-->
            <!--                        <li class="page-item"><a href="#" class="page-link">2</a></li>-->
            <!--                        <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
            <!--                        <li class="page-item"><a href="#" class="page-link">Next</a></li>-->
            <!--                    </ul>-->
            <!--               </div>-->
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Course</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="laboratory"  checked="true" name="laboratory">
                            <label>Laboratory</label>
                            <br>
                            <input type="checkbox" id="seminar"  checked="true" name="seminar">
                            <label>Seminar</label>
                        </div>
                        <div class="form-group">
                            <label>Credits</label>
                            <input type="text" class="form-control" name="credits" required>
                        </div>
                        <div class="form-group">
                            <label>Material:</label>
                            <input type="text" name="material">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Submit" name="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Course</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="name" class="form-control" name="name">
                        <div class="form-group">
                            <label>Laboratory</label>
                            <input type="checkbox" id="laboratory" checked="true" name="laboratory">
                            <br>
                            <label>Seminar</label>
                            <input type="checkbox" id="seminar" checked="true" name="seminar">
                        </div>
                        <div class="form-group">
                            <label>Credits</label>
                            <input type="text" id="credits" class="form-control" name="credits" required>
                        </div>
                        <div class="form-group">
                            <label>Material</label>
                            <input type="text" id="material" class="form-control" name="material">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save" name="save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Course</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this course ?</p>
                        <input type="hidden" id="deleteName" class="form-control" name="deleteName">
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete" name="delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.editbtn').on('click', function () {
                $('#editEmployeeModal').modal('show');
                $tr = $(this).closest('tr');

                var data = $tr.children("td").map(function () {
                    return $(this).text();
                }).get();
                $('#name').val(data[0]);
                $('#teacher').val(data[1]);
                $('#laboratory').val(data[2]);
                $('#seminar').val(data[3]);
                $('#credits').val(data[4]);
                $('#material').val(data[5]);
            });
            $('.deletebtn').on('click', function () {
                $('#deleteEmployeeModal').modal('show');
                $tr = $(this).closest('tr');

                var data = $tr.children("td").map(function () {
                    return $(this).text();
                }).get();

                $('#deleteName').val(data[0]);
            });
        });
    </script>
    </body>
</html>