<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="../Style/styles.css">
</head>
    <body>
        <header>
            <div class="topnav">
                <a class="active" href="Home.phtml">Home</a>
                <a style="float:right" href="../Resources/logout.php">Logout</a>
            </div>
        </header>
        <?php
        session_start();
        use Controllers\GradesController;
        use Controllers\CoursesController;
        use Controllers\StudentsController;
        use Models\CourseModel;
        use Models\StudentModel;

        require_once('../Controller/GradesController.php');
        require_once('../Controller/CoursesController.php');
        require_once('../Controller/StudentsController.php');
        require_once('../Model/StudentModel.php');
        require_once('../Model/CourseModel.php');

        $gradesController = new GradesController();
        $grades = $gradesController->invoke();
        $coursesController = new CoursesController();
        $courses = $coursesController->invoke();
        $studentsController = new StudentsController();
        $students = $studentsController->invoke();
        $studentModel = new StudentModel();
        $courseModel = new CourseModel()
        ?>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <?php
                            if (($_SESSION['user_role'] != "Student")) {
                            ?>
                            <h2>Manage <b>Grades</b></h2>
                            <?php
                            } else {
                            ?>
                            <h2><b>Grades</b></h2>
                            <?php
                            }
                            ?>
                        </div>
                        <?php
                        if (($_SESSION['user_role'] != "Student")) {
                            ?>
                            <div class="col-sm-6">
                                <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add Student To Grades Catalog</span></a>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Course</th>
                        <th>Course grade</th>
                        <th>Laboratory grade</th>
                        <th>Seminar grade</th>
                        <th></th
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    foreach ($grades as $grade) {
                    ?>
                    <tr>
                        <td style="display:none;">
                            <?php echo $grade->getId()?>
                        </td>
                        <td>
                            <?php
                            $student = $studentModel->createStudentById($grade->getStudentId());
                            echo $student->getFirstname();
                            ?>
                        </td>
                        <td>
                            <?php
                            echo $student->getLastname();
                            ?>
                        </td>
                        <td>
                            <?php
                            $course = $courseModel->createCourseById($grade->getCourseId());
                            echo $course->getName();
                            ?>
                        </td>
                        <td><?php echo $grade->getCourseGrade()?></td>
                        <td><?php echo $grade->getLaboratoryGrade()?></td>
                        <td><?php echo $grade->getSeminarGrade()?></td>
                        <td>
                            <?php
                            if (($_SESSION['user_role'] != "Student")) {
                                ?>
                                <a class="edit editbtn" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <?php
                            }
                            ?>
                        </td>
                        <?php
                        }
                        ?>
                    </tr>
                    </tbody>
                </table>
                <!--                <div class="clearfix">-->
                <!--                    <ul class="pagination">-->
                <!--                        <li class="page-item disabled"><a href="#">Previous</a></li>-->
                <!--                        <li class="page-item"><a href="#" class="page-link">1</a></li>-->
                <!--                        <li class="page-item"><a href="#" class="page-link">2</a></li>-->
                <!--                        <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
                <!--                        <li class="page-item"><a href="#" class="page-link">Next</a></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
            </div>
        </div>
        <!-- Add Modal HTML -->
        <div id="addEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Student To Grades</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Choose student:</label>
                                <select name="chooseStudent" >
                                    <?php
                                    foreach ($students as $student) {
                                        ?>
                                        <option value="<?php echo $student->getId()?>"><?php echo $student->getFirstname()." ".$student->getLastname()?></option>
                                        <?php
                                    }
                                    ?>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Choose course:</label>
                                <select name="chooseCourse" >
                                    <?php
                                    foreach ($courses as $course) {
                                        ?>
                                        <option value="<?php echo $course->getId()?>"><?php echo $course->getName()?></option>
                                        <?php
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success" value="submit" name="SubmitGrades">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        <div id="editEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Grades</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" id="gradeId" class="form-control" name="gradeId" required>
                            </div>
                            <div class="form-group">
                                <label>Course grade</label>
                                <input type="text" id="courseGrade" class="form-control" name="courseGrade" required>
                            </div>
                            <div class="form-group">
                                <label>Laboratory grade</label>
                                <input type="text" id="laboratoryGrade" class="form-control"  name="laboratoryGrade" required>
                            </div>
                            <div class="form-group">
                                <label>Seminar grade</label>
                                <input type="text" id="seminarGrade" class="form-control" name="seminarGrade" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-info" value="Save" name="saveGrades">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <script>
            $(document).ready(function () {
                $('.editbtn').on('click', function () {
                    $('#editEmployeeModal').modal('show');
                    $tr = $(this).closest('tr');

                    var data = $tr.children("td").map(function () {
                        return $(this).text();
                    }).get();
                    $('#gradeId').val(data[0]);
                    $('#courseGrade').val(data[4]);
                    $('#laboratoryGrade').val(data[5]);
                    $('#seminarGrade').val(data[6]);
                });
                $('.deletebtn').on('click', function () {
                    $('#deleteEmployeeModal').modal('show');
                    $tr = $(this).closest('tr');

                    var data = $tr.children("td").map(function () {
                        return $(this).text();
                    }).get();

                    $('#deleteName').val(data[0]);
                });
            });
        </script>
    </body>
</html>