<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <!--Fontawesome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Custom styles-->
        <link rel="stylesheet" type="text/css" href="../Style/styles.css">
    </head>
    <body>
        <?php
         session_start();
        ?>
        <header>
            <div class="topnav">
                <a class="active" href="Home.phtml">Home</a>
                <?php
                if (($_SESSION['user_role'] == "Student")) {
                ?>
                    <a href="Courses.phtml">Courses</a>
                    <div class="dropdown">
                        <button class="dropbtn" onclick="myFunction()">
                            Catalog
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                            <a href="Grades.phtml">Grades</a>
                            <a href="Attendances.phtml">Attendance</a>
                        </div>
                    </div>
                <?php
                } else if ($_SESSION['user_role'] == "Teacher") {
                ?>
                    <a href="Courses.phtml">Courses</a>
                    <a href="Students.phtml">Students</a>
                    <div class="dropdown">
                        <button class="dropbtn" onclick="myFunction()">
                            Catalog
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                            <a href="Grades.phtml">Grades</a>
                            <a href="Attendances.phtml">Attendance</a>
                        </div>
                    </div>
                <?php
                } else if ($_SESSION['user_role'] == "Secretary") {
                ?>
                    <a href="Students.phtml">Students</a>
                    <a href="Teachers.phtml">Teachers</a>
                <?php
                }
                ?>
                <a style="float:right" href="../Resources/logout.php">Logout</a>
                <a style="float:right" href="Profile.phtml">Profile</a>
            </div>
        </header>
        <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(e) {
                if (!e.target.matches('.dropbtn')) {
                    var myDropdown = document.getElementById("myDropdown");
                    if (myDropdown.classList.contains('show')) {
                        myDropdown.classList.remove('show');
                    }
                }
            }
        </script>
    </body>
</html>