<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <!--Fontawesome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Custom styles-->
        <link rel="stylesheet" type="text/css" href="../Style/styles.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <a class="active" href="Home.phtml">Home</a>
                <a style="float:right" href="../Resources/logout.php">Logout</a>
            </div>
        </header>
        <h1>Welcome to your profile! </h1>
        <?php
        session_start();
        use Controllers\ProfileController;
        require_once('../Controller/ProfileController.php');
        $profileController = new ProfileController();
        $user = $profileController->invoke();
        ?>
        <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-pic-div">
                            <img src="../Upload/profileImg.png" id="photo">
                            <input type="file" id="file">
                            <label for="file" id="uploadBtn">Choose Photo</label>
                        </div>
                        <br>
                        <table class="tableProfile" style="opacity: 80%; background-color: #005A5F">
                            <?php
                            if ((($_SESSION['user_role'] == "Student")) || (($_SESSION['user_role'] == "Teacher")) || (($_SESSION['user_role'] == "Secretary"))) {
                            ?>
                            <tr>
                                <th width="30%">Role user:</th>
                                <td><?php echo $user->getUserRole();?></td>
                            </tr>
                            <tr>
                                <th width="30%">First name:</th>
                                <td><?php echo $user->getFirstname();?></td>
                            </tr>
                            <tr>
                                <th width="30%">Last name:</th>
                                <td><?php echo $user->getLastname();?></td>
                            </tr>
                            <tr>
                                <th width="30%">Email:</th>
                                <td><?php echo $user->getUsername();?></td>
                            </tr>
                            <tr>
                                <th width="30%">CNP</th>
                                <td><?php echo $user->getCnp();?></td>
                            </tr>
                                <?php
                                    if (($_SESSION['user_role'] == "Student")) {
                                ?>
                            <tr>
                                <th width="30%">Dad initials</th>
                                <td><?php echo $user->getDadInitials();?></td>
                            </tr>
                            <tr>
                                <th width="30%">Credits</th>
                                <td><?php echo $user->getCredits();?></td>
                            </tr>
                                <?php
                                    }
                                ?>
                            <tr>
                                <th width="30%">Phone:</th>
                                <td><?php echo $user->getPhone();?></td>
                            </tr>
                            <tr>
                                <th width="50%">Birthday:</th>
                                <td><?php echo $user->getBirthday();?></td>
                            </tr>
                            <tr>
                                <th width="30%">Address:</th>
                                <td><?php echo $user->getAddress();?></td>
                            </tr>
                            <?php
                                if (($_SESSION['user_role'] == "Teacher")) {
                            ?>
                            <tr>
                                <th width="30%">Course:</th>
                                <td><?php
                                    if($user->getCourses() != null) {
                                        foreach ($user->getCourses() as $course) {?>
                                            <ul>
                                                <li><?php echo $course->getName()?></li>
                                            </ul>
                                            <?php
                                        }
                                    } else { ?>
                                        <ul>
                                            <li><?php echo 'No courses'?></li>
                                        </ul>
                                        <?php
                                    }
                                    ?>
                                </td>
                            </tr>
                            <?php
                                }
                            }
                            ?>
                        </table>
                        <br>
                        <form action="ChangePassword.phtml">
                            <button type="submit" class="changePasswordButton">Change password</button>
                        </form>
                    </div>
                </div>
        </div>
    </body>
</html>