<!DOCTYPE html>
<html>
    <head>
        <title>Teachers</title>
        <!--Bootsrap 4 CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Fontawesome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <!--Custom styles-->
        <link rel="stylesheet" type="text/css" href="../Style/styles.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <a class="active" href="Home.phtml">Home</a>
                <a style="float:right" href="../Resources/logout.php">Logout</a>
            </div>
        </header>
        <?php
        use Controllers\TeachersController;
        require_once('../Controller/TeachersController.php');
        $teachersController = new TeachersController();
        $teachers = $teachersController->invoke();
        ?>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Manage <b>Teachers</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Teacher</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Username</th>
                        <th>Phone</th>
                        <th>Course</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                        foreach ($teachers as $teacher) {
                    ?>
                    <tr id="<?php echo $teacher->getId()?>">
                        <td><?php echo $teacher->getFirstname()?></td>
                        <td><?php echo $teacher->getLastname()?></td>
                        <td><?php echo $teacher->getUsername()?></td>
                        <td><?php echo $teacher->getPhone()?></td>
                        <td><?php
                            if($teacher->getCourses() != null) {
                                foreach ($teacher->getCourses() as $course) {?>
                            <ul>
                                <li><?php echo $course->getName()?></li>
                            </ul>
                            <?php
                                }
                            } else { ?>
                                <ul>
                                    <li><?php echo 'No courses'?></li>
                                </ul>
                        <?php
                        }
                            ?>
                        </td>
                        <td>
                            <a class="edit editbtn" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a class="delete deletebtn" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    <?php
                        }
                    ?>
                    </tbody>
                </table>
<!--               <div class="clearfix">-->
<!--                    <ul class="pagination">-->
<!--                        <li class="page-item disabled"><a href="#">Previous</a></li>-->
<!--                        <li class="page-item"><a href="#" class="page-link">1</a></li>-->
<!--                        <li class="page-item"><a href="#" class="page-link">2</a></li>-->
<!--                        <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
<!--                        <li class="page-item"><a href="#" class="page-link">Next</a></li>-->
<!--                    </ul>-->
<!--               </div>-->
            </div>
        </div>
        <!-- Add Modal HTML -->
        <div id="addEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Teacher</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>First name</label>
                                <input type="text" class="form-control" name="firstname" required>
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" name="lastname" required>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="email" class="form-control" name="username" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" required>
                            </div>
                            <div class="form-group">
                                <label>CNP</label>
                                <input type="text" class="form-control" name="cnp" required>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" name="phone" required>
                            </div>
                            <div class="form-group">
                                <label>Birthday</label>
                                <input type="text" class="form-control" name="birthday" required>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" name="address" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success" value="Submit" name="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        <div id="editEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Teacher</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div style class="form-group">
                                <input type="hidden" id="username" class="form-control" name="username" required>
                            </div>
                            <div class="form-group">
                                <label>First name</label>
                                <input type="text" id="firstname" class="form-control" name="firstname"required>
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" id="lastname" class="form-control" name="lastname" required>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" id="phone" class="form-control" name="phone" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-info" value="Save" name="save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Delete Modal HTML -->
        <div id="deleteEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Teacher</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this user ?</p>
                            <input type="hidden" id="deleteUsername" class="form-control" name="deleteUsername">
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-danger" value="Delete" name="delete">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <script>
            $(document).ready(function () {
                $('.editbtn').on('click', function () {
                    $('#editEmployeeModal').modal('show');
                    $tr = $(this).closest('tr');

                    var data = $tr.children("td").map(function () {
                        return $(this).text();
                    }).get();

                    $('#firstname').val(data[0]);
                    $('#lastname').val(data[1]);
                    $('#username').val(data[2]);
                    $('#phone').val(data[3]);
                });
                $('.deletebtn').on('click', function () {
                    $('#deleteEmployeeModal').modal('show');
                    $tr = $(this).closest('tr');

                    var data = $tr.children("td").map(function () {
                        return $(this).text();
                    }).get();

                    $('#deleteUsername').val(data[2]);
                });
            });
        </script>
    </body>
</html>